{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css %}
<link rel="stylesheet" href="{% static 'registration/output.css' %}">
{% endblock css %}
{% block page_title %}بازیابی رمز عبور{% endblock page_title %}

{% block content %}
<div class="w-80 mx-auto ">
    <div class="text-center border-2 shadow-2xl p-5" >
      <h1 class="text-2xl font-bold mb-6">بازیابی رمز عبور انجام شد</h1>
      <p>رمز عبور شما تغییر کرد. در صورت تمایل می توانید از طریق لینک زیر وارد حساب کاربری خود شوید</p>
      <a href="{% url 'login' %}" class="w-full py-2 font-bold rounded-lg px-2 mt-1 border-2 bg-[#124559] text-white hover:bg-[#778DA9] focus:ring-4 focus:ring-[#598392]">ورود</a>
    
    </div>
  </div>
{% endblock content %}
