{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css %}
<link rel="stylesheet" href="{% static 'registration/output.css' %}">
{% endblock css %}
{% block page_title %}بازیابی رمز عبور{% endblock page_title %}

{% block content %}
<div class="w-80 mx-auto ">
    <div class="text-center border-2 shadow-2xl p-5" >
      <h1 class="text-2xl font-bold mb-6">ایمیل بازیابی فرستاده شد</h1>
      <p>اگر حساب کاربری شما وجود داشته باشد یه زودی ایمیلی برای شما فرستاده خواهد شد</p>
      <p>اگر امیلی دریافت نکردید آدرس ایمیلی که وارد کردید را دوباره بررسی کنید همچینین پوشه اسپم را چک کنید</p>
      
    </div>
  </div>
{% endblock content %}
