{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css %}
<link rel="stylesheet" href="{% static 'registration/output.css' %}">
{% endblock css %}
{% block page_title %}بازیابی رمز عبور{% endblock page_title %}

{% block content %}
<div class="w-80 mx-auto ">
    <div class="text-center border-2 shadow-2xl p-5" >
      <h1 class="text-4xl font-bold mb-6">بازیابی رمز عبور</h1>
      <p>رمز عبور خود را فراموش کرده اید؟ آدرس ایمیل خود را وارد کنید  تا ما نحوه بازیابی رمز عبور را برای شما ایمیل کنیم </p>
      <form class="flex flex-col" action="" method="post">
        {% csrf_token %}
        <label class="py-1 font-bold text-right" for="email">ایمیل</label>
        {% render_field form.email class+="py-1 w-full border-2 border-[#0D1B2A] focus:outline-none px-2 focus:ring-4 focus:ring-[#598392] rounded mtx-1 mb-4" name="email" id="email" %}
        <button class="py-2 font-bold bg-[#0D1B2A] hover:bg-[#415A77] focus:ring-4 focus:ring-[#598392] rounded-lg px-2 text-white mt-5" type="submit">تایید</button>
       </form>
    </div>
  </div>
{% endblock content %}
