{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/book_create.css' %}">
{% endblock css %}
{% block page_title %}ویرایش اطلاعات{% endblock page_title %}

{% block content %}
<div class="flex flex-col md:flex-row-reverse mx-14 gap-6">
    <div class="w-full border-2 shadow-2xl text-right rounded">
      <h1 class="bg-[#0D1B2A] text-[#E0E1DD] px-10 text-2xl py-3 rounded">ویرایش اطلاعات</h1>
      <div dir="rtl" class="px-10 text-lg py-7">    
        <form action="" method="post">
            {% csrf_token %}
            <label  class="py-1 font-bold" for="title">عنوان</label>
            {% render_field form.title name="title" id="title" class+=" w-full py-1 border-2 border-[#0D1B2A] focus:outline-none px-2 focus:ring-4 focus:ring-[#598392] rounded mt-1 mb-4" %}
            <label  class="py-1 font-bold" for="author">نویسنده</label>
            {% render_field form.author name="author" id="author" class=" w-full py-1 border-2 border-[#0D1B2A] focus:outline-none px-2 focus:ring-4 focus:ring-[#598392] rounded mt-1 mb-4" %}
            <label  class="py-1 font-bold" for="price">قیمت</label>
            {% render_field form.price name="price" id="price" class=" w-full py-1 border-2 border-[#0D1B2A] focus:outline-none px-2 focus:ring-4 focus:ring-[#598392] rounded mt-1 mb-4" %}
            <label  class="py-1 font-bold" for="desc">توضیحات</label>
            {% render_field form.description class="mb-2 mt-1 w-full h-32 p-2 rounded border-2 border-[#0D1B2A] focus:outline-none px-2 focus:ring-4 focus:ring-[#598392]" name="desc" id="desc" %}
            <button class="py-2 font-bold bg-[#0D1B2A] hover:bg-[#415A77] focus:ring-4 focus:ring-[#598392] rounded-lg px-4 text-white mt-5" type="submit">اعمال تغییرات</button>
        </form>
      </div>
    </div>
  
    <div>
      <div dir="rtl" class="w-full border-2 shadow-2xl text-right rounded">
        <h1 class="bg-[#0D1B2A] md:bg-[#124559] text-[#E0E1DD] px-10 text-xl py-3 rounded">راهنما</h1>
        <p class="px-10 py-5">پس از تغییر اطلاعات کتاب  بر روی دکمه اعمال تغییرات کلیک کنید.</p>
    </div>
  
  </div>
{% endblock content %}
