{% extends '_base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'output copy.css' %}">
{% endblock css %}
{% block page_title %}Book List{% endblock page_title %}

{% block content %}
<div class="flex flex-row flex-wrap justify-center gap-4 mx-14">
  {% for book in books %}
  <div class="flex flex-col lg:flex-row-reverse items-center md:flex-col sm:flex-row-reverse w-5/12  md:basis-5/12 basis-4/5 text-[#1B263B] bg-[#E0E1DD] rounded-lg p-3">
    <div class="">
      <img class="rounded-sm object-cover max-h-72 min-w-44 hover:shadow-xl hover:opacity-70 shadow-black" src="{% static 'a1920866-3684-41b3-879a-4ccbc0060ac5.webp' %}" alt="..."/>
    </div>
    <div class="px-4 flex flex-col">
      <div class="flex flex-row-reverse justify-between py-3 w-full">
        <div class="font-bold text-2xl">{{ book.title }}</div>
        <div class="">{{book.price}}</div>
      </div>
      <div>
        <p class="text-right mb-8">
          {{book.description|truncatewords:30}}
        </p>
        <div class="flex flex-row-reverse items-center justify-between">
          <p class="text-right text-gray-400 text-sm">{{book.author}}</p>
          <button
            class="rounded-lg px-2 py-1 bg-[#0D1B2A] text-[#E0E1DD] hover:bg-[#778DA9]"
          >
            اطلاعات بیشتر
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
