{% extends '_base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/book_list.css' %}">
{% endblock css %}
{% block page_title %}Book List{% endblock page_title %}

{% block content %}
<div class="flex flex-row flex-wrap justify-center gap-4 mx-14">
  {% for book in books %}
  <div class="flex flex-col lg:flex-row-reverse items-center md:flex-col sm:flex-row-reverse w-5/12  md:basis-5/12 basis-4/5 text-[#1B263B] bg-[#E0E1DD] rounded-lg p-3">
    <div class="">
      {% if book.cover %}
        <img class="rounded-sm object-cover max-h-72 min-w-44 hover:shadow-xl hover:opacity-70 shadow-black" src="{{book.cover.url}}" alt="..."/>

      {% else %}
        <img class="rounded-sm object-cover max-h-72 min-w-44 hover:shadow-xl hover:opacity-70 shadow-black" src="{% static 'a1920866-3684-41b3-879a-4ccbc0060ac5.webp' %}" alt="..."/>
      {% endif %}
    </div>
    <div class="px-4 flex flex-col">
      <div class="flex flex-row-reverse justify-between py-3 w-full">
        <div class="font-bold text-2xl">{{ book.title }}</div>
        <div class="">{{book.price}}</div>
      </div>
      <div>
        <p class="text-right mb-8">
          {{book.description|truncatewords:30}}
        </p>
        <div class="flex flex-row-reverse items-center justify-between">
          <p class="text-right text-gray-400 text-sm">{{book.author}}</p>
          <a href="{% url 'book_detail' pk=book.pk %}" class="rounded-lg px-2 py-1 bg-[#0D1B2A] text-[#E0E1DD] hover:bg-[#778DA9]">اطلاعات بیشتر</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<footer>
  <nav aria-label="Page navigation example" class="flex justify-center my-5">
    <ul class="inline-flex -space-x-px text-base h-10">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
      </li>
      {% endif %}
      <li>
        <a href="?page={{ page_obj.number }}" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{page_obj.number}}</a>
      </li>
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</footer>
{% endblock content %}
