{% extends '_base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/output.css' %}">
{% endblock css %}
{% block page_title %}{{book.title}}{% endblock page_title %}

{% block content %}
<div class="mx-28 bg-[#EFF6E0] p-5 rounded-md text-[#0D1B2A]">
  <div class="flex flex-col mb-14">
    <div
      class="flex flex-col w-full mx-auto md:flex-row-reverse md:justify-between md:items-start items-center object-cover gap-6 mb-9"
    >
    {% if book.cover %}
        <img
        src="{{book.cover.url}}"
        class="h-[400px] md:h-[350px]"
        alt="..."
      />
      {% else %}
    
      <img
        src="{% static 'a1920866-3684-41b3-879a-4ccbc0060ac5.webp' %}"
        class="h-[400px] md:h-[350px]"
        alt="..."
      />
      {% endif %}
      <div
        class="flex flex-col md:flex-row-reverse w-full md:justify-between items-center"
      >
        <div class="text-center">
          <h1 class="text-4xl mb-5">{{ book.title }}</h1>
          <p class="md:text-right">
            <span class="text-gray-400">نویسنده: </span>{{ book.author }}
          </p>
        </div>
        <h3 class="text-2xl text-gray-400">{{ book.price }}</h3>
      </div>
    </div>
    <p dir="rtl">{{ book.description|linebreaksbr }}</p>
    <div class="text-center mt-10">
      <a class="py-2 px-2 font-bold bg-[#0D1B2A] hover:bg-[#415A77] focus:ring-4 focus:ring-[#598392] rounded-lg text-white ml-4" href="{% url 'book_update' pk=book.pk %}">ویرایش</a>
      <a class="py-2 px-4 font-bold rounded-lg mt-1 border-2 bg-[#124559] text-white hover:bg-[#778DA9] focus:ring-4 focus:ring-[#598392]" href="{% url 'book_delete' book.pk %}">حذف</a>
    </div>
  </div>

  <div class="text-right p-5 shadow-2xl border-2 rounded-lg">
    <h1 class="text-3xl font-bold mb-9">نظرات</h1>
    <div class="mb-5">
      <h3 class="text-xl font-bold mb-4">نوشنین توکلی</h3>
      <p class="mb-4">
        با سلام چند تا نکته میخواستم بگم اول اینکه من جزء دسته از آدمایی
        بودم که میگفتم کتاب خوندن لذتش به اینه که آدم کتابو بگیره دستش و
        بخونه اما واقعا میگم فیدیبو تو زمینه کاری خودش داره خوب عمل میکنه
        امیدوارم روز به روز موفق تر بشه ممنون بابت کتابهای خوبی که میزارید
        چونکه خیلی به روزه
      </p>
      <hr />
    </div>
    <div class="mb-5">
      <h3 class="text-xl font-bold mb-4">نوشنین توکلی</h3>
      <p class="mb-4">
        با سلام چند تا نکته میخواستم بگم اول اینکه من جزء دسته از آدمایی
        بودم که میگفتم کتاب خوندن لذتش به اینه که آدم کتابو بگیره دستش و
        بخونه اما واقعا میگم فیدیبو تو زمینه کاری خودش داره خوب عمل میکنه
        امیدوارم روز به روز موفق تر بشه ممنون بابت کتابهای خوبی که میزارید
        چونکه خیلی به روزه
      </p>
      <hr />
    </div>
    <div class="mb-5">
      <h3 class="text-xl font-bold mb-4">نوشنین توکلی</h3>
      <p class="mb-4">
        با سلام چند تا نکته میخواستم بگم اول اینکه من جزء دسته از آدمایی
        بودم که میگفتم کتاب خوندن لذتش به اینه که آدم کتابو بگیره دستش و
        بخونه اما واقعا میگم فیدیبو تو زمینه کاری خودش داره خوب عمل میکنه
        امیدوارم روز به روز موفق تر بشه ممنون بابت کتابهای خوبی که میزارید
        چونکه خیلی به روزه
      </p>
      <hr />
    </div>
  </div>
  <div class="p-5 border-2 rounded shadow-md mb-5 mt-10 text-right">
      <h3 class="text-4xl mb-5">نظر خود را وارد کنید</h3>
      <label for="name">نام </label><br />
      <input
      class="w-full text-right p-2 border-2 border-[#0D1B2A] focus:outline-none px-2 focus:ring-4 focus:ring-[#598392] rounded mt-1 mb-4"
        type="text"
        name="name"
        id="name"
        placeholder="وحید شرفی"
      /><br />
      <label for="email">ایمیل</label><br />
      <input
        class="w-full text-right p-2 border-2 border-[#0D1B2A] focus:outline-none px-2 focus:ring-4 focus:ring-[#598392] rounded mt-1 mb-4"
        type="email"
        name="email"
        id="email"
        placeholder="example@gmail.com"
      /><br />
      <label for="text">متن نظر</label><br />
      <textarea
        name="text"
        id="text"
        class="w-full text-right p-2 h-32 border-2 border-[#0D1B2A] focus:outline-none px-2 focus:ring-4 focus:ring-[#598392] rounded mt-1 mb-4"
        placeholder="نظر خود را اینجا وارد کنید"
      ></textarea>

      <button
        class="py-2 font-bold bg-[#0D1B2A] hover:bg-[#415A77] focus:ring-4 focus:ring-[#598392] rounded-lg px-4 text-white mt-5"
      >
        ارسال
      </button>
    </div>
</div>
{% endblock content %}
